# For custom Phoenix instances with API key authentication
PHOENIX_BASE_URL="http://mobsta-publi-cchxszpt57ls-152431203.eu-west-2.elb.amazonaws.com"
PHOENIX_API_KEY="API-KEY"
# TArget Project
PROJECT="mobsta-development"
# Customize headers